<div class="container-fluid py-lg-5" id="skill">
    <h2 class="title-skills">Compétences</h2>

    <div class="col-sm-10 offset-sm-1 div-skills">
        <div class="row">
            <!-- First col of skills -->
            <div class="col-sm-6">
                <!-- C++ -->
                <div class="row">
                    <div class="col-2">
                        <p class="name-skill">C++</p>
                    </div>
                    <mat-progress-bar class="col-6 bar-skills" [color]="color" [mode]="mode" [value]="values[0]">
                    </mat-progress-bar>
                    <div class="col-1">
                        <img class=" icon-skills" src="assets/skills/c++.png" />
                    </div>
                </div>
                <!-- Java -->
                <div class="row">
                    <div class="col-2">
                        <p class="name-skill">Java</p>
                    </div>
                    <mat-progress-bar class="col-6 bar-skills" [color]="color" [mode]="mode" [value]="values[1]">
                    </mat-progress-bar>
                    <div class="col-1">
                        <img class="icon-skills" src="assets/skills/java.png" />
                    </div>
                </div>
                <!-- Python -->
                <div class="row">
                    <div class="col-2">
                        <p class="name-skill">Python</p>
                    </div>
                    <mat-progress-bar class="col-6 bar-skills" [color]="color" [mode]="mode" [value]="values[2]">
                    </mat-progress-bar>
                    <div class="col-1">
                        <img class="icon-skills" src="assets/skills/python.png" />
                    </div>
                </div>
                <!-- OpenGL -->
                <div class="row">
                    <div class="col-2">
                        <p class="name-skill">OpenGL</p>
                    </div>
                    <mat-progress-bar class="col-6 bar-skills" [color]="color" [mode]="mode" [value]="values[3]">
                    </mat-progress-bar>
                    <div class="col-1">
                        <img class="icon-skills" src="assets/skills/opengl.png" />
                    </div>
                </div>
                <!-- OpenCV -->
                <div class="row">
                    <div class="col-2">
                        <p class="name-skill">OpenCV</p>
                    </div>
                    <mat-progress-bar class="col-6 bar-skills" [color]="color" [mode]="mode" [value]="values[5]">
                    </mat-progress-bar>
                    <div class="col-1">
                        <img class="icon-skills" src="assets/skills/opencv.png" />
                    </div>
                </div>
                <!-- C# -->
                <div class="row">
                    <div class="col-2">
                        <p class="name-skill">C#</p>
                    </div>
                    <mat-progress-bar class="col-6 bar-skills" [color]="color" [mode]="mode" [value]="values[4]">
                    </mat-progress-bar>
                    <div class="col-1">
                        <img class="icon-skills" src="assets/skills/c%23.png" />
                    </div>
                </div>
            </div>
            <!-- Second col of skills-->
            <div class="col-sm-6">
                <!-- Unity -->
                <div class="row">
                    <div class="col-2">
                        <p class="name-skill">Unity</p>
                    </div>
                    <mat-progress-bar class="col-6 bar-skills" [color]="color" [mode]="mode" [value]="values[4]">
                    </mat-progress-bar>
                    <div class="col-1">
                        <img class="icon-skills" src="assets/skills/unity.png" />
                    </div>
                </div>
                <!-- C -->
                <div class="row">
                    <div class="col-2">
                        <p class="name-skill">C</p>
                    </div>
                    <mat-progress-bar class="col-6 bar-skills" [color]="color" [mode]="mode" [value]="values[5]">
                    </mat-progress-bar>
                    <div class="col-1">
                        <img class="icon-skills" src="assets/skills/c.png" />
                    </div>
                </div>
                <!-- DirectX -->
                <div class="row">
                    <div class="col-2">
                        <p class="name-skill">DirectX</p>
                    </div>
                    <mat-progress-bar class="col-6 bar-skills" [color]="color" [mode]="mode" [value]="values[6]">
                    </mat-progress-bar>
                    <div class="col-1">
                        <img class="icon-skills" src="assets/skills/directX.png" />
                    </div>
                </div>
                <!-- Angular -->
                <div class="row">
                    <div class="col-2">
                        <p class="name-skill">Angular</p>
                    </div>
                    <mat-progress-bar class="col-6 bar-skills" [color]="color" [mode]="mode" [value]="values[7]">
                    </mat-progress-bar>
                    <div class="col-1">
                        <img class="icon-skills" src="assets/skills/angular.png" />
                    </div>
                </div>
                <!-- Tensorflow -->
                <div class="row">
                    <div class="col-2">
                        <p class="name-skill">HTML/CSS</p>
                    </div>
                    <mat-progress-bar class="col-6 bar-skills" [color]="color" [mode]="mode" [value]="values[7]">
                    </mat-progress-bar>
                    <div class="col-1">
                        <img class="icon-skills" src="assets/skills/css.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>