<app-navbar></app-navbar>

<!-- Content -->
<div class="container-fluid" id="top">
  <div class="row py-lg-5">
    <div class="col-sm-6 offset-sm-3 project-content">
      <mdb-card>
        <!-- Project's informations -->
        <mdb-card-title>
          <!-- Project Title -->
          <h2>ISLANDERS, UN JEU VIDEO EN ANGULAR</h2>
          <!-- Project date + duration -->
          <h4><b>Fin :</b> Janvier 2021</h4>
          <h4><b>Durée :</b> 5 mois</h4>
        </mdb-card-title>
        <!-- Project image -->
        <mdb-card-img class="project-picture" src="assets/ISL_proj.png"></mdb-card-img>
        <!-- About the project -->
        <mdb-card-body>
          <!-- Technologies used -->
          <div class="row technos">
            <div class="col-sm-6">
              <div class="row">
                <h4><b>Technologies : </b></h4>
                <img class="dot" src="assets/skills/angular.png"/>
                <img class="dot" src="assets/skills/java.png"/>
                <img class="dot" src="assets/skills/html.png"/>
                <img class="dot" src="assets/skills/css.png"/>
                <img class="dot" src="assets/skills/gitlab.png"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <h4><b>Tags : </b></h4>
                <p> Angular, API REST, Java, Web, Gitlab</p>
              </div>
            </div>
          </div>
          <div class="row description">
            <!-- Description of the project -->
            <div class="col-sm-6">
              <h4><b>Description :</b></h4>
              <p>
                Ce projet a été réalisé dans le cadre du cours de <b>CPOO</b> (<b>C</b>onception et <b>P</b>rogrammation
                <b>O</b>rientée <b>O</b>bjet avancée) de 4e année en département informatique à l'Insa de Rennes. Celui-ci consistait
                en la conception d'un jeu vidéo. <br>
                Par binômes et à partir d'un cahier des charges pré-défini, il a fallu concevoir la structure de notre jeu (sous formes de
                diagrammes de classes, schémas UML, diagrammes de séquences, Mockup, ...). Le jeu a ensuite été déployé à l'aide du framework
                <b>Angular</b> pour le <i>front-end</i> et fonctionne avec une <b>API REST</b> développée en <b>Java</b> pour le
                <i>back-end</i>.
              </p>
            </div>
            <!-- Apports du projet -->
            <div class="col-sm-6">
              <h4><b>Bilan :</b></h4>
              <p>
                Grâce à ce projet, j'ai pu prendre en main le framework <b>Angular</b> plus en profondeur au travers d'un projet concret.
                D'un autre côté, j'ai pu mettre à profit les compétences acquises en cours de <b>CPOO</b>  : conception logicielle, concepts
                avancés et patrons de conception. <br>
                Le résultat final du jeu est disponible au travers des photos suivantes, vous trouverez une vidéo montrant le gameplay final.
              </p>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
      <!-- Images of the project -->
      <!-- TODO: add images from project -->
      <!-- Video TODO: ajouter une vidéo où on joue au jeu
      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>
      <h4 class="video-title"><b>Résultat :</b></h4>
      <div class="row">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/c7O_dv-8rrw" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                class="video">
        </iframe>
      </div>
      -->
    </div>
  </div>
</div>

<app-projects></app-projects>

