<app-navbar></app-navbar>

<!-- Content -->
<div class="container-fluid" id="top">
  <div class="row py-lg-5">
    <div class="col-sm-6 offset-sm-3 project-content">
      <mdb-card>
        <!-- Project's informations -->
        <mdb-card-title>
          <!-- Project Title -->
          <h2>CREATION D'UN PORTFOLIO EN ANGULAR</h2>
          <!-- Project date + duration -->
          <h4><b>Fin :</b> En cours</h4>
          <h4><b>Durée :</b> ?</h4>
        </mdb-card-title>
        <!-- Project image -->
        <mdb-card-img class="project-picture" src="assets/POR_proj.PNG"></mdb-card-img>
        <!-- About the project -->
        <mdb-card-body>
          <!-- Technologies used -->
          <div class="row technos">
            <div class="col-sm-6">
              <div class="row">
                <h4><b>Technologies : </b></h4>
                <img class="dot" src="assets/skills/angular.png"/>
                <img class="dot" src="assets/skills/html.png"/>
                <img class="dot" src="assets/skills/css.png"/>
                <img class="dot" src="assets/skills/bootstrap.png"/>
                <img class="dot" src="assets/skills/github.png"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <h4><b>Tags : </b></h4>
                <p> Angular, Java, Bootstrap, Responsive, Web, GitHub</p>
              </div>
            </div>
          </div>
          <div class="row description">
            <!-- Description of the project -->
            <div class="col-sm-6">
              <h4><b>Description :</b></h4>
              <p>
                Ce projet est le résultat d'un <b>projet personnel</b> réalisé en parallèle des mes autres projets. L'objectif était
                de réunir sur un site web un complément à mon CV : une description détaillée de mes projets, toutes les compétences
                dont je dispose, un moyen de me contacter, mais également un endroit où je partage mes reflexions du moment. <br>
                La création de ce site s'est déroulée parallèlement à la création du jeu <a routerLink="/island">Islanders</a>
                réalisé en cours.
              </p>
            </div>
            <!-- Apports du projet -->
            <div class="col-sm-6">
              <h4><b>Bilan :</b></h4>
              <p>
                Au cours de ce projet, j'ai en parallèle créé un <a href="https://github.com/AleksandreGit/Portfolio">repository
                Github</a> sur lequel j'ai pu avoir un suivi continu de mon projet. Ayant déjà utilisé Gitlab pour mes projets réalisés
                lors de cours, j'ai alors pu découvrir un nouvel outil utilisant Git. Au cours de ce projet, je me suis efforcé à commenter
                le code dès que je le pouvais, mais également à utiliser les fonctionnalités d'<i>Issues</i> de Github afin d'avoir
                un suivi complet.
              </p>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>

<app-projects></app-projects>

