<app-navbar></app-navbar>

<!-- Content -->
<div class="container-fluid" id="top">
  <div class="row py-lg-5">
    <div class="col-sm-6 offset-sm-3 project-content">
      <mdb-card>
        <!-- Project's informations -->
        <mdb-card-title>
          <!-- Project Title -->
          <h2>CREATION D'UN MOTEUR DE JEU VIDEO</h2>
          <!-- Project date + duration -->
          <h4><b>Fin :</b> Juin 2021</h4>
          <h4><b>Durée :</b> 3 mois</h4>
        </mdb-card-title>
        <!-- Project image -->
        <mdb-card-img class="project-picture" src="assets/GAM_proj.PNG"></mdb-card-img>
        <!-- About the project -->
        <mdb-card-body>
          <!-- Technologies used -->
          <div class="row technos">
            <div class="col-sm-6">
              <div class="row">
                <h4><b>Technologies : </b></h4>
                <img class="dot" src="assets/skills/c++.png"/>
                <img class="dot" src="assets/skills/ogre3d.png"/>
                <img class="dot" src="assets/skills/github.png"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <h4><b>Tags : </b></h4>
                <p> Ogre3D, C++, temps réel, rendu 3D, Github</p>
              </div>
            </div>
          </div>
          <div class="row description">
            <!-- Description of the project -->
            <div class="col-sm-6">
              <h4><b>Description :</b></h4>
              <p>
                Dans le cadre de cadre de mon voyage Erasmus en Suède, j'ai participé  au cours 'Virtual Interactive environments' dans lequel
                j'ai reçu des enseignements sur la <b>création d'un moteur de jeu vidéo</b>. L'objectif des cours était d'acquérir des connaissances globales
                afin de pouvoir ensuite créer son propre moteur avec d'autres camarades. <br>
                C'est dans ce contexte que j'ai décidé de créer un moteur de jeu de combat (de type Mortal Kombat, ou Super Smash Bros) à l'aide du moteur de rendu <b>Ogre3D</b> et du langage <b>C++</b>.
              </p>
            </div>
            <!-- Apports du projet -->
            <div class="col-sm-6">
              <h4><b>Bilan :</b></h4>
              <p>
                A l'aide de ce projet, j'ai pu mieux comprendre le fonctionnement ainsi que la mise en place d'un moteur de jeu simple. Au cours de ce dernier,
                je me suis occupé de mettre en place un système Entity-Component permettant de simplifier grandement l'ajout de nouvelles fonctionnalités. Après ceci,
                j'ai donc utilisé ce nouveau système pour ajouter des éléments importants : rendu d'éléments 3D, physique,...<br>
                Pour conclure sur ce projet, nous avons rédigé un papier détaillant différentes fonctionnalités mises en place : <a href="assets/Game_Engine_Project.pdf" download>lien vers le papier</a>.
              </p>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>

<app-projects></app-projects>



