<div class="container-fluid out">
  <h2>Etudes</h2>

  <!-- School 1 -->
  <div class="row py-lg-2">
    <div class="col-sm-2 offset-sm-2 left-educ info-left-animate">
      <p class="date">2017-2022</p>
      <p class="diploma-left">Diplome d'ingénieur</p>
      <div class="row logo-container">
        <div class="col-1">
          <img class="logo-school" src="assets/insa_logo.png"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6 info-right-animate">
      <p class="diploma-right">Diplome d'ingénieur informatique</p>
      <p class="school">Insa de Rennes</p>
      <ul class="infos">
        <li>
          2 ans de prépa intégrée : mathématiques, mécanique, éléctromagnétisme, informatique,
          ...
        </li>
        <li>
          Cycle ingénieur informatique, spécialité Média & Interactions
        </li>
      </ul>
    </div>
  </div>

  <!-- Erasmus -->
  <div class="row py-lg-2">
    <div class="col-sm-2 offset-sm-2 left-educ info-left-animate">
      <p class="date">Janvier 2021 - Juin 2021</p>
      <p class="diploma-left">Echange Erasmus</p>
      <div class="row logo-container">
        <div class="col-1">
          <img class="logo-school" src="assets/lulea_logo.png"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6 info-right-animate">
      <p class="diploma-right">Echange Erasmus</p>
      <p class="school">Luleå Tekniska Universitet</p>
      <ul class="infos">
        <li>
          Création d'une application interactive pour contrôler un jeu vidéo avec une caméra
        </li>
        <li>
          Cours de Deep Learning
        </li>
        <li>
          Création d'un moteur de jeu vidéo
        </li>
      </ul>
    </div>
  </div>

  <!-- School 2 -->
  <div class="row py-lg-4">
    <div class="col-sm-2 offset-sm-2 left-educ info-left-animate">
      <p class="date">2014-2017</p>
      <p class="diploma-left">Baccalauréat</p>
    </div>
    <div class="col-sm-6 info-right-animate">
      <p class="diploma-right">Baccalauréat SI, spécialité Mathématiques</p>
      <p class="school">Lycée Alfred de Vigny, 37600, Loches</p>
      <ul class="infos">
        <li>
          Mention très bien
        </li>
      </ul>
    </div>
  </div>

</div>
