.round-animate {
  transform: translateX(0) rotateZ(0deg);
  transition: transform 0.4s ease-out;
}

.round-animate.not-visible {
  transform: translateX(-50px) rotateZ(40deg);
}

.title-work {
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  font-size: 30px;
}
.dot {
  height: 62px;
  width: 62px;
  background-color: white;
  border-radius: 50%;
  border: 4px solid #D3D3D3;
  display: inline-block;
}
.dot:active {
  animation: 1s ease-out 0s 1 apparition;
}

@keyframes apparition {
  0% {
    transform: scale(0);
    transform-origin: left;
  }

  100% {
    transform: scale(1);
    transform-origin: center;
  }

}

.work-exp {
  background-color: #D3D3D3;
}

.work-title {
  font-weight: bolder;
  font-size: 22px;
}

.work-date {
  font-weight: bolder;
  font-size: 18px;
  font-family: Calibri;
  color: #777777;
}

.work-entr {
  font-weight: lighter;
  font-size: 18px;
}

