<!-- Titre de la partie -->
<div class="container-fluid py-lg-5" id="exp">
  <h2 class="title-work">Expérience professionnelle</h2>

  <!-- 1er job -->
  <div class="row py-lg-2">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <!-- Cercle de gauche -->
        <div class="col-1">
          <!-- On utilise le module ng-in-viewport pour vérifier si notr ecercle est dans le viewport ou pas -->
          <img class="dot round-animate" src="assets/inria.png"/>
        </div>
        <!-- Description -->
        <div class="col-10 offset-1">
          <mdb-card class="work-exp">
            <mdb-card-body>
              <!-- Intitulé et date -->
              <h3 class="work-title">Stage - Création d'une solution interactive UE4 / Azure Kinect <span class="work-date">Juin-Septembre 2021</span></h3>

              <!-- Entreprise -->
              <h2 class="work-entr">Inria, Irisa</h2>

              <!-- Description -->
              <p class="work-desc">
                Travail sur le projet "Event by Eleven" en partenariat avec l'entreprise Golaem et les chorégraphes n+n Corsino. <br>
                Mise en place d'un POC pour la structure du projet : connecter de multiples Kinect pour une installation composée d'un
                écran de plusieurs mètres.
              </p>
              <ul>
                <li>
                  Création d'un exécutable permettant de calibrer plusieurs Azure Kinect (calibration intrinsèque, extrinsèque).
                </li>
                <li>
                  Connexion et gestion du suivi de corps de multiple Kinects synchronisées sur l'Unreal Engine 4.
                </li>
                <li>
                  Reconnaissance de gestes avec les données récupérées des Kinect.
                </li>
              </ul>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>

  <!-- 2e job -->
  <div class="row py-lg-4">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <!-- Cercle de gauche -->
        <div class="col-1">
          <!-- On utilise le module ng-in-viewport pour vérifier si notr ecercle est dans le viewport ou pas -->
          <img class="dot round-animate" src="assets/capge.png"/>
        </div>
        <!-- Description -->
        <div class="col-10 offset-1">
          <mdb-card class="work-exp">
            <mdb-card-body>
              <!-- Intitulé et date -->
              <h3 class="work-title">Stage - Mise à jour librairie de logs Java, NodeJS, Php <span class="work-date">Juin-Août 2020</span></h3>

              <!-- Entreprise -->
              <h2 class="work-entr">Capgemini</h2>

              <!-- Description -->
              <p class="work-desc">
                Travail au sein du projet Erable (PaaS) dans un contexte Agile et de déploiement continu (DevOps).
              </p>
              <ul>
                <li>
                  Mise à jour de librairies de logs en Javascript (NodeJS), Java, Php.
                </li>
                <li>
                  Utilisation de nombreux outils (Jenkins, Git, Puppet, Jira, Confluence, ...)
                </li>
                <li>
                  Travail avec la stack ELK (Elasticsearch, Logstash et Kibana)
                </li>
              </ul>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>

  <!-- 3nd job -->
  <div class="row py-lg-4">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <!-- Cercle de gauche -->
        <div class="col-1">
          <!-- On utilise le module ng-in-viewport pour vérifier si notr ecercle est dans le viewport ou pas -->
          <img class="dot round-animate" src="assets/credit.jpg"/>
        </div>
        <!-- Description -->
        <div class="col-10 offset-1">
          <mdb-card class="work-exp">
            <mdb-card-body>
              <!-- Intitulé et date -->
              <h3 class="work-title">Auxiliaire d'été <span class="work-date">Juillet-Août 2019</span></h3>

              <!-- Entreprise -->
              <h2 class="work-entr">Crédit Mutuel</h2>

              <!-- Description -->
              <p class="work-desc">
                Tâches de guichet (virements, retraits, ...) et accueil clientèle.
              </p>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>

  <!-- 4e job -->
  <div class="row py-lg-4">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <!-- Cercle de gauche -->
        <div class="col-1">
          <!-- On utilise le module ng-in-viewport pour vérifier si notr ecercle est dans le viewport ou pas -->
          <img class="dot round-animate" src="assets/laiterie.png"/>
        </div>
        <!-- Description -->
        <div class="col-10 offset-1">
          <mdb-card class="work-exp">
            <mdb-card-body>
              <!-- Intitulé et date -->
              <h3 class="work-title">Stage Ouvrier / Agent de production <span class="work-date">Juin-Août 2018</span></h3>

              <!-- Entreprise -->
              <h2 class="work-entr">Laiterie Verneuil Touraine Berry</h2>

              <!-- Description -->
              <p class="work-desc">
                Employé sur la chaîne de conditionnement du beurre. Puis chargé d'optimiser la consommation
                de produits (Soude et Acide) et d'eau d'une machine de lavage automatisée.
              </p>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>

  <!-- 5e job -->
  <div class="row py-lg-4">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <!-- Cercle de gauche -->
        <div class="col-1">
          <!-- On utilise le module ng-in-viewport pour vérifier si notr ecercle est dans le viewport ou pas -->
          <img class="dot round-animate" src="assets/laiterie.png"/>
        </div>
        <!-- Description -->
        <div class="col-10 offset-1">
          <mdb-card class="work-exp">
            <mdb-card-body>
              <!-- Intitulé et date -->
              <h3 class="work-title">Agent de production <span class="work-date">Juillet-Août 2017</span></h3>

              <!-- Entreprise -->
              <h2 class="work-entr">Laiterie Verneuil Touraine Berry</h2>

              <!-- Description -->
              <p class="work-desc">
                Confection de fromages de Chèvre Sainte-Maure de Touraine et Valençay AOP sur une chaîne de production.
              </p>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>

  <!-- 6e job -->
  <div class="row py-lg-4">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <!-- Cercle de gauche -->
        <div class="col-1">
          <!-- On utilise le module ng-in-viewport pour vérifier si notr ecercle est dans le viewport ou pas -->
          <img class="dot round-animate" src="assets/home.png"/>
        </div>
        <!-- Description -->
        <div class="col-10 offset-1">
          <mdb-card class="work-exp">
            <mdb-card-body>
              <!-- Intitulé et date -->
              <h3 class="work-title">Employé Agricole <span class="work-date">Juillet-Août 2015 et 2016</span></h3>

              <!-- Entreprise -->
              <h2 class="work-entr">Exploitation Vrignon Saint-Quentin-sur-Indrois</h2>

              <!-- Description -->
              <p class="work-desc">
                Castration de maïs.
              </p>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>


</div>
