<app-navbar></app-navbar>

<!-- Content -->
<div class="container-fluid" id="top">
  <div class="row py-lg-5">
    <div class="col-sm-6 offset-sm-3 project-content">
      <mdb-card>
        <!-- Project's informations -->
        <mdb-card-title>
          <!-- Project Title -->
          <h2>CREATION D'UN JEU VIDEO EN C++ et SFML</h2>
          <!-- Project date + duration -->
          <h4><b>Fin :</b> En cours</h4>
          <h4><b>Durée :</b> > 6 mois</h4>
        </mdb-card-title>
        <!-- Project image -->
        <mdb-card-img class="project-picture" src="assets/SUR_proj.PNG"></mdb-card-img>
        <!-- About the project -->
        <mdb-card-body>
          <!-- Technologies used -->
          <div class="row technos">
            <div class="col-sm-6">
              <div class="row">
                <h4><b>Technologies : </b></h4>
                <img class="dot" src="assets/skills/c++.png"/>
                <img class="dot" src="assets/skills/sfml.png"/>
                <img class="dot" src="assets/skills/github.png"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <h4><b>Tags : </b></h4>
                <p>C++, SFML, Jeu vidéo, Github</p>
              </div>
            </div>
          </div>
          <div class="row description">
            <!-- Description of the project -->
            <div class="col-sm-6">
              <h4><b>Contexte :</b></h4>
              <p>
                Etant un passioné de jeux vidéos, j'ai toujours souhaité créer mon propre jeu. C'est pourquoi j'ai décidé de commencer à en coder un lors de mon temps libre.
                A côté de cela, j'ai décidé de partager l'avancée de mon travail sur ma chaîne Youtube : <a href="https://www.youtube.com/channel/UCv9v0MaEkK0Lq-3QQ-zr8mA">lien vers ma chaîne</a>;
                non seulement afin d'avoir un suivi de l'évolution du projet, mais aussi pour partager ce que j'ai fais pour éventuellement avoir des retours.
              </p>
              <h4><b>Présentation du projet :</b></h4>
              <p>
                Le jeu vidéo que je suis en train de créer serait un jeu de survie en 2D dans lequel le joueur pourrait récolter des ressources
                le jour afin de pouvoir construire des fortifications en prévision de la nuit. Il aurait effectivement à faire face à des hordes
                de monstres lors de la nuit qui voudront à tout prix le dévorer. <br>
                Diverses jeux m'ont inspirés pour la création : Terraria ou Kingdom par exemple.
              </p>
            </div>
            <!-- Apports du projet -->
            <div class="col-sm-6">
              <h4><b>Bilan :</b></h4>
              <p>
                Ce jeu est toujours en développement et nécessite encore beaucoup de travail. Etant donné que je ne travaille dessus que lors de mon
                temps libre, le rythme de travail n'est pas régulier. Cependant, de nombreuses fonctionnalités ont déjà été développées : affichage de sprites,
                génération procédurale de monde en 2D (avec bruit de Perlin), animations, gestion d'inventaire, etc. <br>
                Dans les prochaines mises à jour, il est prévu une refonte totale du code en mettant en place notamment un système d'Entity-Component.
              </p>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
      <h4 class="video-title"><b>Début série devlog :</b></h4>
      <div class="row">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/Rda0bSgYZWM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="video"></iframe>
      </div>
      <br>
      <div class="row">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/v6UiYrp5tpM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="video"></iframe>
      </div>
    </div>
  </div>
</div>

<app-projects></app-projects>

